.about-us {
    &--section {
        padding: 100px 0 68px;
        background: linear-gradient(170deg, hsl(0, 0%, 98.04%) 45%, rgb(255, 255, 255) 80px);

        @include bp(tablet-sm) {
            padding: 50px 0;

        }
    }

    &--wrapper {
        padding: 50px 50px;
        box-shadow: 3px 4px 20px 2px rgba(0, 0, 0, 0.3019607843);
        background-color: #fff;		
		
		.subheading {
			font-family: "Bwmodelicalti", sans-serif;
			color: #333 !important;
			font-size: 18px;
		}
        @include bp(tablet-sm) {
            padding: 40px 20px;

        }
    }

    &--content {
        h2 {
            margin-bottom: 25px;

            @include bp(tablet-sm) {
                margin-bottom: 15px;
            }
        }

    }

    &--offering {
        gap: 30px;
        row-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &--item {
        max-width: 250px;

        img {
            min-width: 39px;
        }
    }
}
	

.more-link,
.less-link {
    display: block;
    width: 100%;
    color: color(primary, pink) !important;
    font-weight: 600;
    margin-top: 10px;
    text-transform: capitalize;
}

.expander {
    min-height: 206px;
}