.partner {
    &--section {
        padding: 50px 0 200px;
        background-image: url("../images/section-breakthrough-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include bp(tablet-sm) {
            padding-bottom: 200px;
        }
    }
}

.contact {
    &--form-section {}

    &--wrapper {
        position: relative;
        margin-top: -75px;
        padding: 90px 115px 100px;

        background-color: $themeDefault;

        @include bp(tablet-sm) {
            padding: 60px 60px;
        }

        @include bp(sm) {
            padding: 50px 30px;
        }
    }
}