input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

// input[type=number] {
//     -moz-appearance:textfield;
// }

input[type="number"] {
    padding: 1px 15px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 0;
    -webkit-appearance: inner-spin-button;
    margin-right: -15px;
}

input[type=number]:hover::-webkit-inner-spin-button,
input[type=number]:hover::-webkit-outer-spin-button {
    opacity: 1;
}

select {
    //    -moz-appearance:none; /* Firefox */
    //     -webkit-appearance:none; /* Safari and Chrome */
    //     appearance:none;
    width: 172px;
    height: 22px;
    padding: 2px 7px;
    border: none;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px;
}

select::-ms-expand {
    display: none;
}

.contact--wrapper {

    .form-control {
        @include font-rem(14px, 23px);
        background-color: transparent;
        border-bottom: 1px solid $whiteColor;
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-radius: 0;
        color: color(primary, white);
        border-bottom-color: $whiteColor;
        padding: 5px 0;

    }

    ::-webkit-input-placeholder {
        color: $whiteColor !important;
    }

    :-ms-input-placeholder {
        color: $whiteColor !important;
    }

    ::placeholder {
        color: $whiteColor !important;
    }

    input,
    optgroup,
    select,
    textarea {
        background-color: transparent !important;
    }

    .form-control {
        &:focus {
            color: $whiteColor !important;
            background-color: transparent !important;
            box-shadow: unset !important;
        }
    }

    button {
        &.main-btn {
            border-color: $whiteColor;
            background: transparent;
            box-shadow: unset;
            outline: none;
            border: 1px solid $whiteColor;
            margin-top: 30px;
            position: relative;
            gap: 15px;

            i {
                content: url("../images/icon-cta-arrow.png");
                width: 6px;

            }
        }
    }


}